<!DOCTYPE html>
<html lang="es">

<head>
    <title>{{ DEPLOYED_NAME }}</title>

    <meta name="description" content="{{ PROJECT_DESCRIPTION }}">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="favicon.ico" />

    <!-- CHARTBEAT -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <!-- CSS -->
    {{ CSS.push('css/bootstrap.css') }}
    {{ CSS.push('css/bootstrap-responsive.css') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.push('css/style.css') }}
    {{ CSS.render('css/app.min.css') }}

   

    <!-- JS -->
	{{ JS.push('js/app_config.js') }}
	{{ JS.push('js/console.js') }}
	{{ JS.push('js/lib/jquery-1.8.3.js') }}
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/responsive-ad.js') }}
    {% block extra_head_js %}{% endblock extra_head_js %}
    {{ JS.render('js/app-header.min.js') }}

	

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@poderomedia">
    <meta property="og:title" content="{{ FACEBOOK.TITLE }}" />
    <meta property="og:url" content="{{ FACEBOOK.URL }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ FACEBOOK.DESCRIPTION }}" />
    <meta property="og:image" content="{{ FACEBOOK.IMAGE_URL }}" />
    <meta property="og:site_name" content="poderomedia.org" />
    <meta property="fb:app_id" content="{{ FACEBOOK.APP_ID }}" />

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
	{% block outer_content %}

    <header>
            <div class="container">
                <div class="row">

                    <div class="clearfix">
                        <nav class="span8 pull-left">
                            <ul class="clearfix">
                                <li class="active"><a href="/">MPDI</a></li>
                                <li class=""><a href="manual.html">Sobre el Manual</a></li>
                                <li class=""><a href="colaborar.html">Colaborar</a></li>
                                <li class=""><a href="indice.html">Índice</a></li>
                                <li class=""><a href="participantes.html">Participantes</a></li>
                                <li class=""><a href="http://periodismodedatos.tumblr.com">Noticias</a></li>
                            </ul>
                        </nav>

                        <div class="span4 social pull-right">
                            <ul class="clearfix">
                                <li>Compartir: </li> 
                                <li class="google"><a href="https://m.google.com/app/plus/x/?v=compose&content= {{ TWITTER.TEXT|urlencode }}" onclick="window.open('https://m.google.com/app/plus/x/?v=compose&content={{ TWITTER.TEXT|urlencode }} {{ TWITTER.URL|urlencode }}','gplusshare','width=450,height=300,left='+(screen.availWidth/2-225)+',top='+(screen.availHeight/2-150)+'');return false;"></a>
								</li>
                                <li class="twitter"><a rel="external" href="http://twitter.com/share?text={{ TWITTER.TEXT|urlencode }} &amp;url={{ TWITTER.URL|urlencode }}" alt="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Twitter In Navbar', '{{ PROJECT_NAME }}']);"></a></li>
								<li class="facebook"><a rel="external" href="https://www.facebook.com/dialog/feed?app_id={{ FACEBOOK.APP_ID }}&amp;link={{ FACEBOOK.URL|urlencode }}&amp;name={{ FACEBOOK.TITLE|urlencode }}&amp;picture={{ FACEBOOK.IMAGE_URL|urlencode }}&amp;redirect_uri={{ FACEBOOK.URL|urlencode }}" alt="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Facebook In Navbar', '{{ PROJECT_NAME }}']);"></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </header>

	{% block header_content %}
	{% endblock header_content %}

	<div class="content">
            <div class="container">
                <div class="row">
					{% block content %}
					
					{% endblock content %}
					{% block sidebar %}
					<div class="sidebar span4">
                        <div class="ad ad-300">
                            <img src="tmp/manual_pequeno.png" alt=""/>
                        </div>

                        <section>
                            <div class="box-heading">
                                <h2>Mantente Actualizado</h2>
                            </div>

                            <div class="clearfix">
                              <div>
                                  Súmate a la <a href="https://groups.google.com/forum/#!forum/manualperiodismodedatos">lista de correo</a><br>
                                      Revisa las <a href="periodismodedatos.tumblr.com">noticias del Blog</a><br>
                                      Síguenos en <a href="http://twitter.com/poderomedia">@poderomedia</a> para información actualizada<br>
                                    Usa el hashtag oficial #periodismodedatos para sumarte a la                                      conversación y marcar contenidos relevantes para la comunidad                                      Si subes material a Slideshare, Flickr, Youtube, Vimeo, etc. por favor                                    etiquétalo con el tag #periodismodedatos para identificarlo difundirlo
                                </div>
                            </div>
                        </section>

                        <section class="clearfix">
                            <div class="box-heading">
                                <h2>Colaborar</h2>
                            </div>

                            <div class="clearfix">
                              <div>                                <a href="http://bit.ly/YOUETP">Colabora ahora</a> en la escritura del                                Manual de Periodismo de Datos                                Iberoamericano<br>
                                <br>
                                <a href="http://bit.ly/12wuKg6">Recomienda una Herramienta </a>para                                incluirla en el Manual<br>
                                <br>
                              <a href="http://bit.ly/VK9Oyh">Sugiere un Proyecto Periodístico Destacado</a> que debiéramos agregar a los casos ejemplares                          del Manual</div></div>
                        </section>
                        
                    </div>
					<!-- END span4 -->
					{% endblock sidebar %}
				</div>
            </div>
            <!-- end container -->
        </div>
        <!-- END content -->

	<footer>
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <span class="uppercase">Conectar</span>

                        <ul>
                            <li><a href="http://bit.ly/manualperiodismodedatos">Súmate a nuestra lista de correo ›</a></li>
                            <li><a href="https://docs.google.com/a/poderopedia.com/spreadsheet/viewform?fromEmail=true&formkey=dDVpQllxeTNrRzNkeTBOUHVSNEhpSmc6MQ">Recibe actualizaciones ›</a></li>
                            <li><a href="colaborar.html">Colabora ›</a></li>
                            <li><a href="https://twitter.com/poderomedia">Twitter Poderomedia ›</a></li>
                            <li><a href="mailto: team@poderopedia.com">Contáctanos ›</a></li>
                        </ul>
                    </div>

                    <div class="span4">
                        <span class="uppercase">Sobre el Manual</span>

                        <p>El Manual de Periodismo de Datos es un proyecto gratuito y abierto, escrito de forma colaborativa y voluntaria por periodistas, desarrolladores y diseñadores. Su objetivo es dar cuenta del estado del Periodismo de Datos en Iberoamérica y cómo desarrollar Periodismo de Datos.</p>
                        <a href="manual.html">Conoce más acerca de este proyecto ›</a>
                    </div>

                    <div class="span4">
                        <span class="uppercase">Más</span>

                        <p>El Manual de Periodismo de Datos Iberocamericano es un proyecto de la <a href="http://poderomedia.org">Fundación Poderomedia</a> con el apoyo del programa <a href="http://www.icfj.org/our-work/knight/">Knight International Journalism Fellow</a> del <a href="http://www.icfj.org">International Center for Journalism</a> <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.es">liberado bajo licencia Creative Commons 3.0 Atribución-Compartir Igual.</a></p>
						<p>Sitio hecho con la <a href="https://github.com/nprapps/app-template">NPR App Template</a> y alojado en <a href="www.github.com">Github</a></p>
                    </div>
                </div>
            </div>

        </footer>

    

	{% endblock outer_content %}

	{{ JS.push('js/lib/html5.js') }}
	{{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/app.js') }}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}

    <!-- GOOGLE ANALYTICS -->
	<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ID }}']);
		  _gaq.push(['_trackPageview']);
		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

	</script>


   
</body>
