<!DOCTYPE html>
<html lang="es">

<head>
    <title>{{ DEPLOYED_NAME }}</title>

    <meta name="description" content="{{ PROJECT_DESCRIPTION }}">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://media.npr.org/favicon.ico" />

    <!-- CHARTBEAT -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <!-- CSS -->
    {{ CSS.push('css/bootstrap.css') }}
    {{ CSS.push('css/bootstrap-responsive.css') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.push('css/style.css') }}
    {{ CSS.render('css/app.min.css') }}

    <!-- AD CODE -->
    <script>
        NPR = {};
        NPR.PageInfo = {};
        NPR.PageInfo.getUrlParameter = function (param) {
            return false;
        };
    </script>

    <!-- JS -->
	{{ JS.push('js/app_config.js') }}
	{{ JS.push('js/console.js') }}
	{{ JS.push('js/lib/jquery-1.8.3.js') }}
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/responsive-ad.js') }}
    {% block extra_head_js %}{% endblock extra_head_js %}
    {{ JS.render('js/app-header.min.js') }}

	

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@nprapps">
    <meta property="og:title" content="{{ FACEBOOK.TITLE }}" />
    <meta property="og:url" content="{{ FACEBOOK.URL }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ FACEBOOK.DESCRIPTION }}" />
    <meta property="og:image" content="{{ FACEBOOK.IMAGE_URL }}" />
    <meta property="og:site_name" content="NPR.org" />
    <meta property="fb:app_id" content="{{ FACEBOOK.APP_ID }}" />

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
	{% block outer_content %}

    <header>
            <div class="container">
                <div class="row">

                    <div class="clearfix">
                        <nav class="span8 pull-left">
                            <ul class="clearfix">
                                <li class="active"><a href="#">MPDI</a></li>
                                <li class=""><a href="#">Sobre el Manual</a></li>
                                <li class=""><a href="#">Colaborar</a></li>
                                <li class=""><a href="#">Índice</a></li>
                                <li class=""><a href="#">Participantes</a></li>
                                <li class=""><a href="#">Noticias</a></li>
                            </ul>
                        </nav>

                        <div class="span4 social pull-right">
                            <ul class="clearfix">
                                <li>Compartir: </li>
                                <li class="google"><a href="#"></a></li>
                                <li class="facebook"><a href="#"></a></li>
                                <li class="twitter"><a href="#"></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </header>

	{% block header_content %}
	{% endblock header_content %}

	<div class="content">
            <div class="container">
                <div class="row">
					{% block content %}
					
					{% endblock content %}
				</div>
            </div>
            <!-- end container -->
        </div>
        <!-- END content -->

	<footer>
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <span class="uppercase">Conectar</span>

                        <ul>
                            <li><a href="#">Súmate a nuestra lista de correo ›</a></li>
                            <li><a href="#">Recibe actualizaciones ›</a></li>
                            <li><a href="#">Colabora ›</a></li>
                            <li><a href="#">Twitter Poderomedia ›</a></li>
                            <li><a href="#">Contáctanos ›</a></li>
                        </ul>
                    </div>

                    <div class="span4">
                        <span class="uppercase">Sobre el Manual</span>

                        <p>El Manual de Periodismo de Datos es un proyecto gratuito y abierto, escrito de forma colaborativa y voluntaria por periodistas, desarrolladores y diseñadores. Su objetivo es dar cuenta del estado del Periodismo de Datos en Iberoamérica y cómo desarrollar Periodismo de Datos. Conoce más de este proyecto.</p>
                        <a href="#">Conoce más acerca de este proyecto ›</a>
                    </div>

                    <div class="span4">
                        <span class="uppercase">Más</span>

                        <p>El Manual de Periodismo de Datos Iberocamericano es un proyecto de la Fundación Poderomedia con el apoyo del programa Knight International Journalism Fellow del International Center for Journalism <a href="#">liberado bajo licencia Creative Commons 3.0 Atribución-Compartir Igual.</a></p>
                    </div>
                </div>
            </div>

        </footer>

    

	{% endblock outer_content %}

	{{ JS.push('js/lib/html5.js') }}
	{{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/app.js') }}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}

    <!-- GOOGLE ANALYTICS -->
	<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ID }}']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>


   
</body>
