{% extends '_base.html' %}

{% block header_content %}	
	
	
	<div class="heading">
            <div class="container">
                <div class="row">
                    <div class="span12">
                      <h1>Escribamos en conjunto el Manual de Periodismo de Datos Iberoamericano</h1>

                        <p class="abstract">Por favor contesta el formulario para colaborar con la escritura del Manual de Periodismo de Datos Iberoamericano y sumarte al proyecto. </p>
                        <p><br>
						¿Más información? <a href="manual.html">Revisa los detalles del proyecto</a><br><br>
                        </p>
                    </div>

                </div>
                <!-- END row -->
            </div>
        </div>
        <!-- END heading -->

{% endblock %}


{% block content %}


					<div class="span8"> <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dGVhWU0xZHFiN2hSM3ZGNFBIYUxsb1E6MQ" width="760" height="1533" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
                      <p>
					Puedes abrir el formulario en una <a href="http://bit.ly/YOUETP">página nueva</a> </p><br>

					  *Los datos solicitados nos servirán para poder enviarte preguntas de acuerdo a lo que detalles ahí. Tu email no se compartirá con nadie.
					  
                      <h2>Otras formas de colaborar</h2>
					<p>Recomienda herramientas y proyectos periodísticos que debiéramos incluir en el Manual </p>
					<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dExjQU9BeVE3YmNhYVlwdnNCbW05NGc6MQ" width="760" height="1080" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>

					<p>Puedes abrir el formulario en una <a href="http://bit.ly/VK9Oyh">página nueva</a> <br><br>
					</p>
					<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dFc5cktPM25TUG1uRGJ1OUxhcjNUYlE6MQ" width="760" height="1105" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
                     <p>Puedes abrir el formulario en una <a href="http://bit.ly/VK9Oyh">página nueva</a> <br><br>

                      </p>
                     <div class="row"></div>
                        <div class="row">
                          <div class="span4">
                            <section> </section>
                          </div>
                        </div>
                        <!-- END row -->
                    </div>
                    <!-- END span8 -->

                    <div class="sidebar span4">
                        <div class="ad ad-300">
                            <img src="tmp/banner.jpg" alt=""/>
                        </div>

                        <section>
                            <div class="box-heading">
                                <h2>Título de Contenido en el Sidebar</h2>
                            </div>

                            <div class="clearfix">
                                <img class="pull-left" src="tmp/02.png" alt=""/>

                                <div class="pull-right">
                                    <p>Mirum est notare quam littera gothica, quam nunc putamus parum cla ram, anteposuerit litt erarutt</p>

                                    <a class="button" href="#">Colaborar Ahora</a>
                                </div>
                            </div>
                        </section>

                        <section class="clearfix">
                            <div class="box-heading">
                                <h2>Otro titulo en sidebar</h2>
                            </div>

                            <div class="clearfix">
                                <img class="pull-left" src="tmp/04.jpg" alt=""/>

                                <div class="pull-right">
                                    <a class="title" href="#">¡Lanzamos la escritura! Pismod tincidunt ut laoreet</a>
                                    <time>05/05/2013</time>
                                </div>
                            </div>

                            <p>Claritas est etiam processamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothicunc putamus parum... <a href="#">más ›</a></p>
                        </section>
                        
                    </div>
                    <!-- END span4 -->
{% endblock %}