{% extends '_base.html' %}

{% block header_content %}
<div class="top">
            <div class="container">
                <div class="row">
                    <div class="manual span4">
                        <h1>{{ PROJECT_NAME }}</h1>

                        <a class="big-button" href="colaborar.html">Colaborar Ahora</a>

                        <a class="display-block" href="https://docs.google.com/a/poderopedia.com/spreadsheet/viewform?fromEmail=true&formkey=dDVpQllxeTNrRzNkeTBOUHVSNEhpSmc6MQ" target="_blank">Notificarme cuando sea publicado ›</a>
                    </div>

                    <div class="span8 clearfix">
                        <div class="text pull-left">
                            <p>Estamos escribiendo el Manual de Periodismo de Datos Iberoamericano, un proyecto gratuito y abierto, realizado de forma colaborativa y voluntaria por periodistas, desarrolladores y diseñadores. Su objetivo es dar cuenta del estado del Periodismo de Datos en Iberoamérica y cómo desarrollar Periodismo de Datos en nuestros países.</p>

                            <p>Incluye temas como:</p>
                            <ul class="list">
                                <li>Casos Destacados</li>
                                <li>Herramientas y código</li>
                                <li>Ciberseguridad</li>
                                <li>FOIA y Datos Abiertos</li>
                            </ul>

                            <a href="manual.html">ver más ›</a>
                        </div>

                        <img class="pull-right" src="tmp/manual.png"/>
                    </div>
                </div>
                <!-- END row -->
            </div>
        </div>
        <!-- END top -->
{% endblock %}


{% block content %}
				<section class="span4">
                        <div class="box-heading">
                            <h2>Indice</h2>
                        </div>

                        <ul class="chapters">
                            <li>
                                <strong>Capítulo 1</strong>
                                Introducción. ¿Qué es el periodismo de datos y para qué sirve?
                            </li>

                            <li>
                                <strong>Capítulo 2</strong>
                                Estado de situación Latinoamérica y España
                            </li>

                            <li>
                                <strong>Capítulo 3</strong>
                                Obteniendo los datos
                            </li>

                            <li>
                                <strong>Capítulo 4</strong>
                                Extrayendo los datos
                            </li>

                            <li>
                                <strong>Capítulo 5</strong>
                                Entregando el análisis
                            </li>

                            <li>
                                <strong>Capítulo 6</strong>
                                Casos de Estudio
                            </li>
                        </ul>

                        <a class="button" href="indice.html">Detalle de los Capítulos</a>
                    </section>

                    <section class="span4">
                        <div class="box-heading">
                            <h2>Participantes</h2>
                        </div>

                        <strong>Algunas de las personas y organizaciones que están participando en la elaboración del Manual:</strong>

                        <ul class="chapters">

                            <li>Sandra Crucianelli (Argentina)</li>
                            <li>Mariano Blejman (Argentina)</li>
                            <li>Hacks/Hackers Buenos Aires</li>
                            <li>Gustavo Faleiros (Brasil)</li>
                            <li>Hacks/Hackers Sao Paulo</li>
                            <li>Hack/Hackers Santiago</li>
                            <li>Mariana Santos (Portugal)</li>
                            <li>Jorge Luis Sierra (México)</li>
                            <li>Fundación Civio (España)</li>
                        </ul>

                        <a class="button" href="participantes.html">Ver Listado Completo</a>
                    </section>


                    <section class="last-news span4">
                        <div class="box-heading">
                            <h2>Últimas Noticias</h2>
                        </div>
						{% for news in feed[ "items" ][:6] %}
                        <a class="title" href="{{ news[ "link" ] }}">{{ news[ "title" ] }}</a>
                        <time>{{ news[ "date" ] }}</time>
						
                       

                        
						{% endfor %}
                        <a class="button" href="http://blog.periodismodedatos.org">Ver Más Noticias</a>
                    </section>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block wide_content %}

{% endblock %}