{% extends '_base.html' %}

{% block header_content %}	
	
	
	<div class="heading">
            <div class="container">
                <div class="row">
                    <div class="span12">
                      <h1>Indice</h1>

                        
						
                    </div>

                </div>
                <!-- END row -->
            </div>
        </div>
        <!-- END heading -->

{% endblock %}


{% block content %}


					<div class="span8"> 
                      <h2><strong id="internal-source-marker_0.">Capítulo 1: Introducción</strong></h2>
                      <ul class="list">
                        <li> ¿Qué es el Periodismo de Datos? </li>
                        <li>¿Para qué sirve el Periodismo de Datos?</li>
                        <li>¿Por qué los periodistas debieran desarrollar periodismo de datos?
</li>
                      </ul>
                      <h2><strong id="internal-source-marker_0.2">Capítulo 2: Estado de situación Latinoamérica y España</strong></h2>
                      <ul class="list">
                        <li>Marco legal sobre Acceso a la Información Pública, leyes de Transparencia y estado de Datos Abiertos, país por país.</li>
                        <li>Dificultades más recurrentes a la hora de obtener datos y cómo superarlas, país por país</li>
                        <li>Cómo enfrentar las principales amenazas a la seguridad a la hora de investigar </li>
                        <li> Usos y prácticas del periodismo de datos en Latinoamérica y España</li>
                      </ul>
                      <h2><strong id="internal-source-marker_0.3">Capítulo 3: Obteniendo los datos</strong></h2>
                      <ul class="list">
                        <li>Cómo y dónde buscar datos.</li>
                        <li> Cómo actuar ante la ausencia de leyes de acceso a información y transparencia</li>
                        <li> Uso de la web para recopilar data: crowdsourcing, buscadores, redes sociales.</li>
                        <li> Cómo extraer noticias de grandes bases de datos.</li>
                        <li> Cómo cruzar información de diversas bases de datos.</li>
                        <li> Guía y tutorial de las principales herramientas digitales disponibles, para extraer información.</li>
                      </ul>
                      <h2><strong id="internal-source-marker_0.4">Capítulo 4: Extrayendo los datos.</strong></h2>
                      <ul class="list">
                        <li>Alfabetización estadística: breve diccionario de definiciones estadísticas.</li>
                        <li> Cómo analizar de manera crítica la data.</li>
                        <li> Precauciones al momento de interpretar los datos.</li>
                        <li> Cómo convertir los datos en historias.</li>
                        <li> Visualización de datos para procesar la información.</li>
                        <li> Guía y tutorial de las principales herramientas digitales disponibles para procesar datos.</li>
                      </ul>
                      <h2><strong id="internal-source-marker_0.5">Capítulo 5: Entregando el análisis.</strong></h2>
                      <ul class="list">
                        <li>Cómo presentar los datos al público.</li>
                        <li>Cómo convertir los datos en una herramienta de interacción con la audiencia.</li>
                        <li>Visualización de datos: formas de relatos en el periodismo de datos.</li>
                        <li>Cómo contar una historia a través de la visualización de datos.</li>
                        <li>La importancia del diseño aplicado a la visualización de datos.</li>
                        <li>Guía y tutorial de las principales herramientas digitales disponibles para visualizar datos.</li>
                      </ul>
                      <h2><strong id="internal-source-marker_0.6">Capítulo 6: Casos de Estudio</strong></h2>
                      <ul class="list">
                        <li>Cómo usar el periodismo de datos para el interés público (modelos de equipos de Apicaciones de Noticias)</li>
                        <li>Experiencias exitosas de periodismo de datos a nivel mundial.</li>
                        <li>Experiencias exitosas de periodismo de datos en Latinoamérica.</li>
                      </ul>
                      <h3>Estamos escribiendo en conjunto este Manual <a href="colaborar.html">¡Participa y colabora ahora!</a></h3>

                        <div class="row"></div>
                        <div class="row">
                          <div class="span4">
                            <section> </section>
                          </div>
                        </div>
                        <!-- END row -->
                    </div>
                    <!-- END span8 -->

                    
                    
{% endblock %}