{% extends '_base.html' %}

{% block header_content %}	
	
	
	<div class="heading">
            <div class="container">
                <div class="row">
                    <div class="span12">
                      <h1>Sobre el Manual</h1>

                        <p class="abstract"><strong>Qué y por qué</strong><br>
                        Este proyecto surge inspirado en el Data Journalism Handbook y junto con tomar lo mejor de dicho Manual, busca potenciarse desde las diferencias que hacen que ambos proyectos se complementen. Estas diferencias radican en que nuestro manual iberoamericano (en español y, esperamos, en portugués) incluirá guías y tutoriales muy concretos y además buscará detallar el estado dispar de situación por país, de toda Iberoamérica, cumpliendo la función de ser también un mapa de lo que está pasando en nuestros países.</p>
                    </div>

                </div>
                <!-- END row -->
            </div>
        </div>
        <!-- END heading -->

{% endblock %}


{% block content %}
<div class="span8">`<p>Este diagnóstico nació de múltiples conversaciones con periodistas de toda la región y del taller de lluvia de ideas realizado durante la <a href="http://periodismodedatos.tumblr.com/post/30539758743/resumen-del-taller-escribamos-el-manual-de-periodismo">MediaParty de Hacks/Hackers </a>en Buenos Aires en octubre de 2012</p>                        
                        <h3>Eso quiere decir que incluiremos temas como:</h3>
<ul class="list">
          <li>Seguridad y Ciberseguridad (para los países donde ambas cosas son un requisito básico para preservar la vida de los periodistas y sus fuentes)</li>
                          <li>Ley de prensa, ley de acceso a información, ley de transparencia por país (existen, no existen, qué existe, funciona, no funciona, cuál es la práctica común para enfrentar los problemas por país, según la experiencia de los profesionales que escriban de su país).</li>
          <li>Datos abiertos y política de datos gubernamentales abiertos por país (lo mismo que en el caso anterior)</li>
    <li>Periodismo de datos por país (quiénes hacen periodismo de datos en cada país, qué casos destacados existen, etc)</li>
  </ul>
<p>El trasfondo de esta instancia que incluirá luego un sitio web llamado de edición comunitaria llamado PeriodismodeDatos.org y una<a href="http://bit.ly/manualperiodismodedatos"> lista de correo ya activa</a>, es promover la construcción de redes de colaboración, aprendizaje y trabajo entre los distintos interesados de cada país.          </p>
<h2><strong>¿Cómo colaborar?</strong></h2>
<p>Súmate a esta iniciativa a través de <a href="http://bit.ly/YOUETP">este formulario</a>.  Luego nos contactaremos contigo y te enviaremos un cuestionario sencillo que debes llenar y enviarnos de vuelta para editar el material para el Manual<strong id="internal-source-marker_0.08675214112736285">  </strong>
</p>
<div class="row">
                            <section class="span4">
                              <h2><strong id="internal-source-marker_0.">Cronograma</strong>
                              </h2>
                              <p>El cronograma de escritura es el siguiente:<br>
                                <br>
Marzo-Mayo 2013<br>
Escritura colaborativa del Manual<br>
<br>
Junio-Julio 2013<br>
Edición del Manual<br>
<br>
Agosto 2013<br>
Lanzamiento del Manual<br>
                              </p>
          </section>

                            <section class="span4">
                              <p>&nbsp;</p>
                              <p>&nbsp;</p>
                              <p>Detalle Marzo: </p>
                              <ol class="list">
                                <li>Envío de formulario de colaboración</li>
                                <li>Envío de cuestionario ad hoc a voluntarios (este cuestionario<br>
                                  incluirá las preguntas por paíse que mencionábamos antes)</li>
                                <li>Lanzamiento sitio web del Manual</li>
                                <li>Feedback ida y vuelta, a través de la lista de correo<br>
                                  <br>
                                  Marzo, Abril y Mayo:<br>
                                  Escritura y recepción de colaboraciones</li>
                              </ol>
          </section>
                      </div>

                        <div class="row"></div>
                        <div class="row">
                          <div class="span4">
                            <section> </section>
                          </div>
                        </div>
                        <!-- END row -->
                    </div>
                    <!-- END span8 -->

                    <div class="sidebar span4">
                        <div class="ad ad-300">
                            <img src="tmp/banner.jpg" alt=""/>
                        </div>

                        <section>
                            <div class="box-heading">
                                <h2>Título de Contenido en el Sidebar</h2>
                            </div>

                            <div class="clearfix">
                                <img class="pull-left" src="tmp/02.png" alt=""/>

                                <div class="pull-right">
                                    <p>Mirum est notare quam littera gothica, quam nunc putamus parum cla ram, anteposuerit litt erarutt</p>

                                    <a class="button" href="#">Colaborar Ahora</a>
                                </div>
                            </div>
                        </section>

                        <section class="clearfix">
                            <div class="box-heading">
                                <h2>Otro titulo en sidebar</h2>
                            </div>

                            <div class="clearfix">
                                <img class="pull-left" src="tmp/04.jpg" alt=""/>

                                <div class="pull-right">
                                    <a class="title" href="#">¡Lanzamos la escritura! Pismod tincidunt ut laoreet</a>
                                    <time>05/05/2013</time>
                                </div>
                            </div>

                            <p>Claritas est etiam processamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothicunc putamus parum... <a href="#">más ›</a></p>
                        </section>
                        
                    </div>
                    <!-- END span4 -->
{% endblock %}