{% extends '_base.html' %}

{% block header_content %}	
	
	
	<div class="heading">
            <div class="container">
                <div class="row">
                    <div class="span12">
                      <h1>Sobre el Manual de Periodismo de Datos Iberoamericano</h1>

                        <p class="abstract">
                        El Manual de Periodismo de Datos Iberoamericano es un proyecto gratuito y abierto, que estamos escribiendo de forma colaborativa y voluntaria periodistas, desarrolladores y diseñadores de toda Latinoamérica y España. Su objetivo es dar cuenta del estado del Periodismo de Datos en Iberoamérica y cómo desarrollar Periodismo de Datos en nuestros países.</p>
                    </div>

                </div>
                <!-- END row -->
            </div>
        </div>
        <!-- END heading -->

{% endblock %}


{% block content %}
<div class="span8">
  <h3><strong id="internal-source-marker_0.5139629151672125">¿Cómo y por qué surgio la idea de hacer el Manual?</strong></h3>
  <p>Este proyecto nace como idea, inspirado en el <a href="http://www.datajournalismhandbook.org/">Data Journalism Handbook</a>, a partir de múltiples conversaciones con periodistas de toda la región y del diagnóstico realizado en un taller de lluvia de ideas en la <a href="http://blog.periodismodedatos.org/post/30539758743/resumen-del-taller-escribamos-el-manual-de-periodismo">MediaParty de Hacks/Hackers </a>en Buenos Aires en octubre de 2012, de la necesidad de contar con un compendio de información y herramientas para el Periodismo de Datos, enfocado a la situación de nuestros países, ya que vivimos, investigamos y hacemos periodismo en contextos muy diferentes a los de Estados Unidos o Inglaterra. <br />
      <br />
  Mientras que en Estados Unidos o Inglaterra, obtener bases de datos relevantes sobre las cuales investigar y construir historias puede ser algo trivial, en la situación y contexto locales de nuestros países (de México a la Patagonia pasando por Brasil y España) nos encontramos con escenarios muy disímiles de acceso a datos públicos, leyes de prensa, transparencia y de acceso a información, seguridad y de capacidades profesionales para hacer Periodismo de Datos. </p>
  <p>En todos estos casos nos situamos desde la carencia de herramientas y técnicas para acelerar y fomentar un mejor periodismo y reportería online y offline para nuestras comunidades.<br />
      <br />
  Este proyecto pretende hacerse cargo de estas falencias y detallar el estado de situación del Periodismo de Datos en Iberoamérica, cumpliendo la función de ser también un mapa de lo que pasa en nuestros países.</p>
  <h3><strong id="internal-source-marker_0.2">¿Qué tópicos incluye el Manual?</strong></h3>
  <p>Junto con tomar lo mejor del <a href="http://www.datajournalismhandbook.org/">Data Journalism Handbook</a>, el Manual de Periodismo de Datos Iberoamericano (en español y, esperamos, en portugués) incluirá: </p>
  <ul class="list">
    <li>Guías y tutoriales en materias como bases de datos, investigación en la web profunda, minería de datos y scraping, visualizaciones de datos, acceso a información pública, seguridad y ciberseguridad, entre otras.</li>
    <li>Selección de las mejores herramientas, ejemplos y proyectos de código abierto. <br />
    </li>
  </ul>
  <p>Y reportes por país sobre: </p>
  <ul class="list">
    <li>Uso del Periodismo de Datos (quiénes hacen Periodismo de Datos en cada país, qué casos destacados existen, etc). </li>
    <li>Existencia y calidad de leyes de prensa, información y transparencia (existen o no, qué funciona y qué no, cuál es la práctica común para enfrentar los problemas por país). </li>
    <li>Datos abiertos y políticas gubernamentales de datos abiertos.</li>
  </ul>
  <h3><strong id="internal-source-marker_0.3">¿Qué es el Manual?</strong></h3>
  <p>Es una guía útil orientada a las salas de redacción, periodistas, ciudadanos, hackers cívicos y estudiantes de periodismo, de cómo usar y convertir los datos en historias de relevancia social.<br />
      <br />
      Es un documento que retrata el estado de situación del Periodismo de Datos en Iberoamérica.<br />
      <br />
      Es un compendio de las herramientas digitales que permiten hacer Periodismo de Datos y sortear de manera segura, cercos informativos y la ausencia de marcos legales que aseguren el libre acceso a la información, así como sacar provecho de cuando esa legalidad existe. Herramientas que permiten además, cruzar diferentes bases de datos para detectar temas de relevancia social, así como generar bases de datos propias que facilitan el trabajo periodístico.<br />
      <br />
      Es un punto de encuentro y difusión con las mejores experiencias de periodismo de datos en Iberoamérica, así como una plataforma digital colaborativa que permite compartir experiencias entre periodistas de toda la región.<br />
      <br />
  Es una guía práctica que entrega las herramientas necesarias para ejercer control ciudadano y periodístico sobre las autoridades de manera segura, a través del uso de datos públicos.</p>
  <h3><strong id="internal-source-marker_0.4">¿Cómo colaborar?</strong></h3>
  <p>Súmate a esta iniciativa a través de <a href="http://bit.ly/YOUETP">este formulario</a>.  Luego nos contactaremos contigo y te enviaremos un cuestionario sencillo que debes llenar y enviarnos de vuelta para editar el material para el Manual. También puedes ver la <a href="http://manual.periodismodedatos.org/participantes.html">lista de profesionales</a> que ya se sumaron al proyecto.</p>
  <h3><strong>¿Cuál es el Cronograma?</strong></h3>
  <p>      El cronograma de escritura es el siguiente:<br />
      <br />
      Mayo-Junio 2014<br />
      Escritura colaborativa del Manual<br />
      <br />
      Junio-Julio 2014<br />
      Edición del Manual<br />
      <br />
      Agosto 2014<br />
      Lanzamiento del Manual</p>
  <h3><strong>¿Quién está detrás de esta iniciativa?</strong></h3>
     <p>El Manual de Periodismo de Datos Iberoamericano es una iniciativa de la <a href="http://poderomedia.org/">Fundación Poderomedia</a>, con el apoyo del programa<a href="http://www.icfj.org/our-work/knight/"> Knight International Journalism Fellow</a> del<a href="http://www.icfj.org/"> International Center for Journalism</a>.</p>
     <!-- <ul class="list">
     <li>
     </li>
     <li>
       <a href="http://www.cide.edu/">Centro de Investigación y Docencia Económicas, CIDE, de México</a>
     </li>
     <li>
       <a href="http://periodismo.uahurtado.cl/">Escuela de Periodismo de la Universidad Alberto Hurtado (Chile)</a>
     </li>
     <li>
       <a href="http://www.hivos.org">Fundación Hivos</a>
     </li>
     <li>
       <a href="http://www.omidyar.com/">Omidyar Network</a>
     </li> -->
  <h3><strong>¿Bajo qué formato y licencia se publicará el Manual? </strong></h3>
      <p>Será publicado en formato web (html), ebook y, de ser posible, en papel. Todo el contenido estará <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.es">bajo licencia Creative Commons 3.0 Atribución-Compartir Igual.</a><br />
      <br />
  </p>
  <h3><strong>¿Qué tecnología se usa en este proyecto? </strong></h3>
      <p>El sitio web está diseñado usando <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a>, integrado usando la <a href="https://github.com/nprapps/app-template">Plantilla de Aplicación Web</a> del <a href="http://blog.apps.npr.org/2013/02/14/app-template-redux.html">equipo</a> de aplicaciones de noticias de <a href="http://www.npr.org/">NPR</a> y está alojado gratuitamente en <a href="http://www.github.com/">Github</a>. El blog es <a href="http://www.tumblr.com/">Tumblr</a>. Para los formularios y lista de correo usamos Google <a href="https://www.google.com/intl/es/drive/start/index.html">Drive</a> y <a href="https://groups.google.com/">Groups</a>. <br />
  Para el Manual y todos los textos usamos <a href="https://readthedocs.org/">Read The Docs</a> y <a href="http://www.github.com">Github</a>. </p>
  <p>&nbsp;</p>
  <div class="row">
    <section class="span4"></section>
    <section class="span4"> </section>
  </div>

                        <div class="row"></div>
                        <div class="row">
                          <div class="span4">
                            <section> </section>
                          </div>
                        </div>
                        <!-- END row -->
</div>
                    <!-- END span8 --><!-- END span4 -->
{% endblock %}