{% extends '_base.html' %}

{% block header_content %}	
	
	
	<div class="heading">
            <div class="container">
                <div class="row">
                    <div class="span12">
                      <h1>Título ejemplo índice h1</h1>

                        <p class="abstract">Ejemplo de estilo de una bajada o abstract en el caso de existir. Facer possim ass um. Est usus legentis dolor in hend iis qui facit eorum clariccumsan et iusto odio dignissim qui blandit praesccumsan et iusto odio dignissim qui blandit praestatem.</p>
                        
						
                    </div>

                </div>
                <!-- END row -->
            </div>
        </div>
        <!-- END heading -->

{% endblock %}


{% block content %}


					<div class="span8">

                        <h2>Ejemplo de título Lorem Ipsum h2</h2>

                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolor. <a href="#">Ejemplo de un enlace</a>. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumscus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, antean et</p>


                        <h3>Ejemplo de títulos h3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolor. <a href="#">Ejemplo de un enlace</a>. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>



                        <h4>Ejemplo de títulos h4</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolor. <a href="#">Ejemplo de un enlace</a>. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>


                        <h2>Capítulo 1:</h2>
                        <p class="subtitle">Introducción ¿Qué es el periodismo de datos y para qué sirve?</p>

                        <ul class="list">
                            <li>¿Qué es el periodismo de datos?</li>
                            <li>¿Para qué sirve el periodismo de datos?</li>
                            <li>¿Por qué los periodistas debieran desarrollar periodismo de datos?</li>
                        </ul>


                        <h2>Capítulo 2:</h2>
                        <p class="subtitle">Estado de situación Latinoamérica y España</p>

                        <ul class="list">
                            <li>Marco legal sobre acceso a la información pública, leyes de transparencia y estado de datos abiertos, país por país.</li>
                            <li>Dificultades más recurrentes a la hora de obtener datos y cómo superarlas, país por país</li>
                            <li>Cómo enfrentar las principales amenazas a la seguridad a la hora de investigar </li>
                            <li>Usos y prácticas del periodismo de datos en Latinoamérica y España </li>
                            <li>Dificultades más recurrentes a la hora de obtener datos y cómo superarlas, país por país</li>
                        </ul>


                        <h2>Capítulo 3:</h2>
                        <p class="subtitle">Obteniendo los datos</p>

                        <ul class="list">
                            <li>Cómo y dónde buscar data</li>
                            <li>Cómo actuar ante la ausencia de leyes de acceso a la información y transaparencia</li>
                            <li>Uso de la web para recopilar data: crowdsourcing, buscadores, redes sociales</li>
                            <li>Cómo y dónde buscar data</li>
                            <li>Cómo actuar ante la ausencia de leyes de acceso a la información y transaparencia</li>
                            <li>Uso de la web para recopilar data: crowdsourcing, buscadores, redes sociales</li>
                            <li>Cómo actuar ante la ausencia de leyes de acceso a la información y transaparencia</li>
                        </ul>

                        <div class="row">
                            <section class="span4">
                                <img src="assets/tmp/03.jpg" alt=""/>
                                <a class="title" href="#">Este es un ejemplo de recuadro a media columna</a>

                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolor. <a href="#">Ejemplo de un enlace</a>. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

                                <a class="button" href="#">Ejemplo de boton</a>
                            </section>

                            <section class="span4">
                                <img src="assets/tmp/03.jpg" alt=""/>
                                <a class="title" href="#">Este es un ejemplo de recuadro a media columna</a>

                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolor. <a href="#">Ejemplo de un enlace</a>. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

                                <a class="button" href="#">Ejemplo de boton</a>
                            </section>
                        </div>

                        <div class="row">
                            <section class="span8">
                                <img src="assets/tmp/05.jpg" alt=""/>
                                <h2>Ejemplo de título Lorem Ipsum h2a</h2>

                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolor. <a href="#">Ejemplo de un enlace</a>. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

                            </section>
                        </div>

                        <div class="row">
                            <div class="span4">
                                <section>
                                    <div class="box-heading">
                                        <h2>Listado en media columna</h2>
                                    </div>

                                    <ul class="chapters">
                                        <li>
                                            <strong>Capítulo 1</strong>
                                            Introducción. ¿Qué es el periodismo de datos y para qué sirve?
                                        </li>

                                        <li>
                                            <strong>Capítulo 2</strong>
                                            Estado de situación Latinoamérica y España
                                        </li>
                                    </ul>
                                </section>

                                <section>
                                    <div class="box-heading">
                                        <h2>Listado en media columna</h2>
                                    </div>

                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh <a href="#">enlace</a>. Enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

                                </section>
                            </div>

                            <div class="span4">
                                <section>
                                    <div class="box-heading">
                                        <h2>Contenido a dos columnas</h2>
                                    </div>

                                    <ul>
                                        <li>Sandra Crucianelli (Argentina)</li>
                                        <li><a href="#">Mariano Blejman</a> (Argentina)</li>
                                        <li>Hacks/Hackers Buenos Aires</li>
                                        <li>Gustavo Faleiros (Brasil)</li>
                                    </ul>
                                </section>

                                <section>
                                    <div class="box-heading">
                                        <h2>Contenido a dos columnas</h2>
                                    </div>

                                    <ul class="list">
                                        <li>¿Qué es el periodismo de datos?</li>
                                        <li>¿Para qué sirve el periodismo de datos?</li>
                                        <li>¿Por qué los periodistas debieran desarrollar periodismo de datos?</li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                        <!-- END row -->
                    </div>
                    <!-- END span8 -->

					 <div class="sidebar span4">
                        <div class="ad ad-300">
                            <img src="assets/tmp/banner.jpg" alt=""/>
                        </div>

                        <section>
                            <div class="box-heading">
                                <h2>Título de Contenido en el Sidebar</h2>
                            </div>

                            <div class="clearfix">
                                <img class="pull-left" src="assets/tmp/02.png" alt=""/>

                                <div class="pull-right">
                                    <p>Mirum est notare quam littera gothica, quam nunc putamus parum cla ram, anteposuerit litt erarutt</p>

                                    <a class="button" href="#">Colaborar Ahora</a>
                                </div>
                            </div>
                        </section>

                        <section class="clearfix">
                            <div class="box-heading">
                                <h2>Otro titulo en sidebar</h2>
                            </div>

                            <div class="clearfix">
                                <img class="pull-left" src="assets/tmp/04.jpg" alt=""/>

                                <div class="pull-right">
                                    <a class="title" href="#">¡Lanzamos la escritura! Pismod tincidunt ut laoreet</a>
                                    <time>05/05/2013</time>
                                </div>
                            </div>

                            <p>Claritas est etiam processamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothicunc putamus parum... <a href="#">más ›</a></p>
                        </section>
                        
                    </div>
                    <!-- END span4 -->
{% endblock %}