{% extends '_base.html' %}

{% block header_content %}	
	
	
	<div class="heading">
            <div class="container">
                <div class="row">
                    <div class="span12">
                      <h1>Participantes</h1>

                        <p class="abstract">Estamos escribiendo en conjunto el Manual de Periodismo de Datos Iberoamericano. Conoce a quienes ya se sumaron al proyecto. Recuerda que tú también puedes colaborar en escritura, diseño, programación, promoción y difusión.</p>
                        
						
                    </div>

                </div>
                <!-- END row -->
            </div>
        </div>
        <!-- END heading -->

{% endblock %}


{% block content %}


					<div class="span8">
                        <h3><strong>Argentina</strong></h3>
                        <p><a href="http://twitter.com/spcrucianelli">Sandra Crucianelli</a>, <a href="http://www.icfj.org/about/profiles/sandra-crucianelli">ICFJ Knight International Journalism Fellow</a> <br />
                          <a href="http://twitter.com/blejman">Mariano Blejman</a>, <a href="http://www.icfj.org/our-work/argentina-launch-innovation-challenge-promote-development-digital-media-latin-america">ICFJ Knight International Journalism Fellow</a>, co fundador <a href="http://hhba.info/">HacksHackers Buenos Aires</a> <br />
                          <a href="http://twitter.com/pollatos">Sergio Sorin</a>, co organizador <a href="http://hhba.info/">HacksHackers Buenos Aires</a>  <br />
                          <a href="http://twitter.com/gavilandia">Sebastian Gurvitsch</a>, <a href="http://www.eter.com.ar/">Eter</a> <br />
                          <a href="http://twitter.com/matiasmanna">Matías Manna</a>         <br />
                          <a href="http://twitter.com/anahilo">Anahí Lovato</a>, <a href="http://www.unr.edu.ar/">Universidad Nacional de Rosario</a>    <br />
                          Aldo Iñiguez, <a href="http://www.unr.edu.ar/">Universidad Nacional de Rosario</a>    <br />
                          <a href="http://twitter.com/firigaray">Fernando Irigaray</a>, <a href="http://www.unrinteractiva.com.ar/">Universidad Nacional de Rosario</a>       <br />
                          <a href="http://twitter.com/raulivp">Raúl Verde Paz</a>       <br />
                        <a href="http://twitter.com/miguelledhesma">Miguel Ledesma</a><br />
                        <a href="http://twitter.com/josefinalopezmk">Josefina López Mac Kenzie</a>,<a href="http://www.otroscirculos.com.ar/"> Otros Círculos</a>, Revista La Pulseada, Facultad de Periodismo y Comunicación Social de la UNLO<br />
                        Milva Benitez<br />
                        <a href="http://www.erian.com.ar/">Francisco Erian</a><br />
                        Edgardo Toledo, <a href="http://www.fcpolit.unr.edu.ar/">Facultad de Ciencia Política UNRosario</a>  <br />
                        Silvana Comba, <a href="http://www.postituloperiodismo.com.ar/">Postítulo y Licenciatura en Periodismo</a> de la Universidad Nacional de Rosario<br />
                        <a href="http://www.sdpt.net/">María del Rosario Marincola</a><br />
                        <a href="http://twitter.com/paulaataguile">Paula Ataguile Osorio</a>, Gobierno de Mendoza<br />
                        <a href="http://twitter.com/momiperalta">Angélica Peralta Ramos</a>, <a href="http://www.lanacion.com.ar/">La Nación</a><br />
                        <a href="https://twitter.com/gregoriol">Luis Leonardo Gregorio</a>, Universidad Nacional de Cuyo<br />
                        <a href="http://twitter.com/elenabrizuela">Elena Brizuela</a>, <a href="http://www.epxus.com.ar/">Epxus</a><br />
                        Jorge Alberto   Argentina, Revista Somos Canals y <a href="http://www.cienciateca.com/">Cienciateca</a><a href="http://www.cienciateca.com/"></a><br />
                        <a href="http://twitter.com/olisohr">Olivia Sohr</a>, <a href="http://www.chequeado.com/">Chequeado.com</a><br /><a href="http://twitter.com/flaviaricci">Flavia Ricci</a>, <a href="http://postitulo.educacion.gov.ar/">Ministerio de Educación de la Nación</a><br />Rosa Acosta, <a href="http://www.noticiasconenfoque.com.ar/">Noticias con Enfoque </a><br /><a href="https://twitter.com/CelinaSalvatie">Celina Salvatierra</a>, <a href="http://www.narrativasdigitales.com/">Narrativas Digitales</a></p>
                        
                      <h3><strong>Bolivia</strong></h3>
                      <p><a href="http://twitter.com/mluisa">María Luisa Mercado</a>, Diario <a href="http://www.opinion.com.bo/">Opinión de Cochabamba</a><br />
                      Sandra Marca Uscamayta, <a href="http://www.cioecbolivia.org/">CIOEC Bolivia</a><a href="http://www.cioecbolivia.org/"></a></p>
                      <h3><strong>Brasil</strong></h3>
                      <p><a href="http://twitter.com/gufalei">Gustavo Faleiros</a>, <a href="http://www.icfj.org/about/profiles/gustavo-faleiros">ICFJ Knight International Journalism Fellow</a>, creador de <a href="http://www.infoamazonia.org/">InfoAmazonia.org</a> y <a href="http://saopaulo.meetup.hackshackers.com/">HacksHackers Sao Paulo</a> <br />
                        Sheila Accioly  <br />
                        <a href="http://twitter.com/jornsergiocunha">Sérgio Cunha</a>                            <br />
                      <a href="http://twitter.com/gtoueg">Gabriel Toueg</a><br />
                      <a href="http://twitter.com/rosameire">Rosa Meire Carvalho de Oliveira</a>, <a href="http://www.sambaibamultimida.com.br/">Sambaíba Comunicação e Educação Multimídia</a><br />
                      <a href="http://www.trasel.com.br/">Marcelo Träsel</a>, Pontifícia Universidade Católica do Rio Grande do Sul (PUCRS)<br />
                      Camila Siqueira <br />
                      Loíze Aurélio de Aguiar<br />
                      <a href="http://www.redebomdia.com.br/">Rubens de Souza</a><br />
                      Camila S Arakaki, <a href="http://www.uol.com.br/">UOL </a><br />
                      Eder Luiz Silva, freelancer<br />
                      Filipe Speck, <a href="http://www.zerohora.com.br"> Zero Hora</a> <br />
                      Walter Teixeira Lima Junior, Methodist University of Sao Paulo</p>
                      <h3><strong>Chile</strong></h3>
                      <p><a href="http://twitter.com/jccamus">Juan C. Camus</a>, <a href="http://www.usando.info/">Usando.info</a> <br />
                        <a href="http://twitter.com/juanpablob">Juan Pablo Barrientos</a>, <a href="http://www.plumon.cl/">Plumón Digital</a> <br />
                        <a href="https://twitter.com/TRI_">Estefanía Trisotti</a> <br />
                        <a href="http://twitter.com/lesaez">Alejandra Saez</a> <br />
                        <a href="http://twitter.com/rampmaster">Roberto Moreno</a>                             <br />
                        <a href="http://twitter.com/Nicoleforttes">Nicole Forttes</a>, <a href="http://www.smartlab.udd.cl/">Smart Lab</a> Universidad del Desarrollo <br />
                        <a href="http://twitter.com/miguelpaz">Miguel Paz</a>, <a href="http://www.icfj.org/our-work/chile-expand-poderopedia-site-linking-business-and-politics-across-region">ICFJ Knight International Journalism Fellow</a>, <a href="http://www.poderomedia.org/">Fundación Poderomedia</a>, creador de <a href="http://www.meetup.com/HacksHackersChile/">HacksHackers Chile</a> <br />
                        Oscar Díaz, <a href="http://www.gobiernoabierto.cl/">Gobierno Abierto</a>        	         <br />
                        <a href="http://twitter.com/andreshofmann">Andrés Hofmann</a>, <a href="http://politicadigital.com.mx/">Política Digital</a>    <br />
                        <a href="http://twitter.com/alfonsopv">Alonso Ponce</a> <br />
                        <a href="http://twitter.com/movilytablet">Eduardo Riveros Quiroz</a>, <a href="http://www.journalismdigital.com/star/">JournalismDigital.com</a>    <br />
                        <a href="http://twitter.com/felipeacademy">Felipe Vargas</a> <br />
                        <a href="http://twitter.com/pepinixamonardi">Stephanie Cobo Maturana</a>  <br />
                        <a href="http://twitter.com/constnz">Constanza Gajardo</a>, <a href="http://www.periodismoudec.cl/">Escuela de Periodismo</a>, Universidad de Concepción<br />
                        <a href="https://twitter.com/devpoderopedia">Juan Eduardo Hernández</a>, <a href="http://www.poderopedia.org/">Poderopedia</a><br />
                      <a href="http://twitter.com/monikventura">Mónica Ventura</a>, <a href="http://www.poderopedia.org/">Poderopedia</a><br />
                      <a href="http://twitter.com/jplizana">Juan Pablo Lizana</a>   <br />
                      <a href="https://twitter.com/ivanwese">Iván Weissman</a>, <a href="http://www.elmostradormercados.cl/">El Mostrador Mercados<br />
                      </a><a href="http://twitter.com/cbassop">Carlos Basso</a>,	Diario <a href="http://www.w5.cl/">W5</a><br />
                      <a href="http://twitter.com/andresazocar">Andrés Azócar</a>, <a href="http://www.copesa.cl/">Copesa </a><br />
                      <a href="http://twitter.com/loskuro">Óscar Tucas G</a>., <a href="http://www.thebrandingbrothers.com/branding/">The Branding Brothers<br />
                      </a><a href="http://twitter.com/acatalan">Arturo Catalán</a>, <a href="http://www.ocdiberoamerica.com/">Observatorio Iberoamericano de Comunicaciones Digitales</a>   <br />
                      <a href="https://twitter.com/agustinvillena">Agustín Villena</a>, <a href="http://www.leansight.com/">Leansight</a><a href="http://www.leansight.com/"></a></p>
<h3><strong>Colombia</strong></h3>
                      <p><a href="http://twitter.com/Miriescribe">Miriam Forero Ariza</a>, <a href="http://www.consejoderedaccion.org/">Consejo de Redacción</a>        <br />
                          <a href="http://twitter.com/gybook">David Hernández</a>   <br />
                          <a href="http://twitter.com/pachocivico">Francisco Javier Pareja Vallejo</a>      <br />
                          <a href="http://twitter.com/beatrizemarin">Beatriz Elena Marín Ochoa</a>, <a href="http://www.upb.edu.co/">Universidad Pontificia Bolivariana</a>          <br />
                          <a href="http://twitter.com/alexmarin55">Alexander Marin Correa</a>, <a href="http://www.elespectador.com/">El Espectador</a>                <br />
                          Darío Restrepo Ramírez                      <br />
                        <a href="http://twitter.com/tatta25">Tatiana Cristina Velásquez</a>, <a href="http://www.diarioadn.co/">ADN Colombia<br />
                        </a><a href="http://twitter.com/mariavilladieg1">Maria Fernanda Villadiego</a>, Autoridad Marítima Colombiana <br />
                      Carlos Enrique Rivera Ruiz, <a href="http://wwwelespejonegro.blogspot.com/">El Espejo Negro </a>      	      <br />
                      <a href="http://twitter.com/CesarDX">César A. Rodríguez</a>, Universidad Sergio Arboleda<br />
                      <a href="http://twitter.com/alexmarin55">Alexander Marin Correa</a>, Diario <a href="http://www.elespectador.com/">El Espectador</a><a href="http://www.elespectador.com/"></a></p>
                      <h3><strong>Costa Rica</strong></h3>
                      <p dir="ltr"><a href="https://twitter.com/gianninasegnini">Giannina Segnini</a>, <a href="http://www.nacion.com/">La Nación<br />
                      </a>Andrea Solano Ulloa, <a href="http://www.bsnoticias.cr/">BS Noticias</a><a href="http://www.bsnoticias.cr/"></a>
</p>
                      <h3><strong>Cuba</strong></h3><p>Livia Reyes, <a href="http://www.cip.cu/">Centro de Información para la Prensa</a></p>
                      <h3><strong>Ecuador </strong></h3>
                      <p><a href="https://twitter.com/carlos_e_flores">Carlos E. Flores</a>, <a href="http://www.flacso-radio.ec/">Flacso Radio</a> <br />
                          <a href="https://twitter.com/kuzeli">Kruzkaya Ordóñez</a>, <a href="http://www.utpl.edu.ec/">Universidad Técnica Particular de Loja</a>  	   <br />
                          <a href="http://twitter.com/PaulMena">Paúl Mena Erazo </a>  <br />
                          <a href="http://twitter.com/darwindws">Darwin Borja Salguero</a>, <a href="http://www.vistazo.com/">Revista Vistazo</a>       	   <br />
                      <a href="https://twitter.com/jinakusikawsay">Janina Suárez Pinzón</a><br />
                      Ximena Tapia, <a href="http://www.ondasazuayas.ec/">Radio Ondas Azuayas </a><strong>  <br />
                      </strong>Diego F. Cisneros-Heredia, <a href="http://www.usfq.edu.ec/">Universidad San Francisco de Quito</a>                         </p>
                      <h3><strong>El Salvador</strong></h3>
<p><a href="http://twitter.com/CarlosDada">Carlos Dada</a>, <a href="http://www.elfaro.net/">El Faro</a></p>
                      <h3><strong>España</strong></h3>
                      <p><a href="http://twitter.com/cabralens">Mar Cabra</a>, Periodista Freelance, miembro de <a href="http://www.icij.org/">ICIJ </a>            <br />
                          <a href="http://twitter.com/cmdelaserna">Carlos Martínez de la Serna</a> <br />
                          <a href="http://twitter.com/jesusflores">Jesús Flores</a>, <a href="http://www.madrimasd.org/blogs/culturadered/">Universidad Complutense</a> <br />
                          <a href="http://twitter.com/emartinborregon">Eduard Martín-Borregón</a>, <a href="http://www.datanpress.com/">Data'n'Press</a>          <br />
                          <a href="http://twitter.com/gloriajimenezz">Gloria Jiménez</a>         <br />
                          Manuel M. Fernández<br />
                        <a href="http://www.xavigimenez.net/blog/">Xavi Gimenez</a><br />
                        <a href="http://barriblog.com/">M. Luz Congosto</a>, Universidad Carlos III<br />
                      Jose Fernando Leal, Diario <a href="http://www.elmundo.es/">El Mundo </a> <br />
                      Ismael GH, <a href="http://www.lincg.uc-csic.es/">Laboratorio Internacional en Cambio Global (LINCGlobal)<br />
                      </a><a href="https://twitter.com/acastellonm">Alejandro Castellón</a>  <br />
                      <a href="http://twitter.com/kareliavt">Karelia Vazquez<br />
                      </a><a href="http://twitter.com/jcorujeira">Jacobo Corujeira<br />
                      </a><a href="https://twitter.com/alejandrajoanes">Alejandra Joanes Martínez</a>, <a href="http://www.voala.info/">Voalá</a><br />
                      <a href="http://carlos-alonso.com/">Carlos Alonso<br />
                      </a>Iván Hernández<br />
                      <a href="http://twitter.com/AideMur">Ainhoa Murga</a>, <a href="http://www.valorfuturo.com/">ValorFuturo</a><a href="http://www.valorfuturo.com/"></a>                      </p>
                      <h3><strong>Estados Unidos</strong></h3>
                      <p>                          Maricarmen Amado, <a href="http://www.westchesterhispano.net/">Westchester Hispano Newspaper </a> <br />
                          <a href="http://twitter.com/gpelizarraga">Guadalupe Lizárraga</a>, <a href="http://www.losangelespress.org/">Los Ángeles Press</a><br />
                      <a href="http://twitter.com/thefuturewasnow">Fernando Díaz</a>, <a href="http://www.vivelohoy.com/">Hoy Chicago</a> <a href="http://twitter.com/mariauxpen"><br />
                      Maria Peña</a>, <a href="http://www.efe.com/">EFE News Services</a></p>
                      <h3><strong>Guatemala</strong></h3>
                      <p><a href="http://twitter.com/danyvillatoro">Daniel Villatoro</a>, <a href="http://www.plazapublica.com.gt/">Plaza Pública</a>         <br />
                          Enrique Naveda, <a href="http://www.plazapublica.com.gt/">Plaza Pública</a></p>
                      <h3><strong>Honduras</strong></h3>
                      <p dir="ltr"><a href="http://twitter.com/radamantia">Jorge Hernandez</a>, Banca y Finanzas<br />
                      <a href="http://www.hugochinchilla.com/">Hugo Chinchilla Hurst</a><a href="http://www.hugochinchilla.com/"></a></p>
                      <h3><strong>Italia/Inglaterra</strong></h3>
                      <p><a href="http://twitter.com/martinisi">Alessandro Martinisi</a>, University of Westminster</p>
                      <h3><strong>México</strong></h3>
                      <p><a href="http://twitter.com/latinointx">Jorge Luis Sierra</a>, <a href="http://www.icfj.org/about/profiles/jorge-luis-sierra">ICFJ Knight International Journalism Fellow</a> <br />
                          Jesús Alberto Ibarra, <a href="http://www.uson.mx/">Universidad de Sonora</a><br />
                        <a href="http://twitter.com/elgolfo1">Carlos Duran</a>, The Baja Chronicle<br />
                        Jorge Luis Symonds Pavlovich, Nearsoft<br />
                        <a href="http://twitter.com/darwinfranco">Darwin Franco<br />
                        </a><a href="http://twitter.com/liliasaul">Lilia Saúl</a>, <a href="http://www.animalpolitico.com/">Animal Político</a><br />
                        <a href="http://twitter.com/JacoboVP">Jacobo Vázquez Pérez <br />
                        </a><a href="http://twitter.com/sofynoriega">Sofìa Adriana Noriega Morales</a>, <a href="http://www.eldiariodecoahuila.com.mx/">El Diario de Coahuila</a><br />
                        <a href="https://twitter.com/albertzoniko">Gerardo Alberto Flores Ledezma</a>, <a href="http://www.diarioalmomento.com/">Diario Al Momento  </a><br />
                        <a href="http://twitter.com/lic_more">Iván Moreno</a><br />
                        <a href="http://twitter.com/@nerikaarriaga">Norma Erika Arriaga González</a>, <a href="http://www.televisaregional.com/guadalajara/">Televisa Guadalajara</a>     <br />
                        Norberto Carrasco Araizaga, Cámara de Diputados<br />
                        Maria Teresa, <a href="http://www.valledelmayo.mx/">Valledelmayo.mx</a><br />
                          <a href="http://twitter.com/MariaGpeVega">María Guadalupe Vega</a><br />
                      <a href="http://twitter.com/belmontealmeida">Sergio Belmonte</a>, Sociedad de la Comunicación </p>
<h3><strong>Panamá</strong></h3>
                      <p>                          Víctor Mojica, <a href="http://www.elguayacan.com.pa/">Red Media</a>   <br />
                          <a href="http://twitter.com/itzelcampos29">Itzel Campos</a>   </p>
                      <h3><strong>Paraguay</strong></h3>
                      <p><a href="http://twitter.com/AlvarengaPathy">Patricia Alvarenga</a>, <a href="http://www.vanguardia.com.py/">Diario Vanguardia</a></p>
                      <h3><strong>Perú</strong></h3>
                      <p><a href="http://twitter.com/cesars">Cesar Soplin Sánchez</a>, <a href="http://www.indexante.com/">Indexante</a><br />
                          <a href="http://twitter.com/aramis19">Aramís Castro Ramos</a>, <a href="http://www.corresponsales.pe/">Corresponsales.pe</a><br />
                        <a href="http://twitter.com/@coyotegris">Erick Iriarte</a>, <a href="http://iriartelaw.com/">Iriarte &amp; Asociados</a><br />
                        <a href="http://twitter.com/fett82">Juan Takehara<br />
                        </a><a href="http://twitter.com/anvar_21">Victoria Manrique Pineda<br />
                        </a>Marco Jiménez<br />
                      Jorge Paredes </p>
<h3><strong>Portugal</strong></h3>
                      <p><a href="http://twitter.com/marysaints">Mariana Santos</a>, <a href="http://www.icfj.org/our-work/latin-america-improve-interactive-storytelling-and-create-corps-tech-savvy-women-newsrooms">ICFJ Knight International Journalism Fellow</a>, diseñadora interactiva <a href="http://www.guardian.co.uk/profile/mariana-santos">The Guardian</a><br />
                        <a href="http://twitter.com/AnnieM11">Ana Pinto Martinho</a>, <a href="http://www.i-gov.org/">iGov<br />
                        </a><a href="http://about.me/pnunes">Pedro Nunes<br />
                      </a><a href="http://twitter.com/cristofams">Antonio Cristovao</a><a href="http://twitter.com/cristofams"></a></p>
<h3><strong>Puerto Rico</strong></h3>
                      <p><a href="http://twitter.com/nataliabonilla">Natalia Bonilla</a>, <a href="http://www.revistalatitudes.org/">Revista Latitudes</a><br />
                      <a href="http://twitter.com/charohenriquez">Charo Henriquez</a>, GFR Media / <a href="http://www.elnuevodia.com/">El Nuevo Dia</a></p>
                      <h3><strong>Uruguay</strong></h3>
<p><a href="http://twitter.com/aloznavarc">Ana Rosa Rodríguez Cravanzola</a>, <a href="http://www.radiomojana.com/">Radio Mojana</a>, Centro Cultural España </p>
                      <h3><strong>Venezuela</strong></h3>
                      <p>                          Mileika Marcano, <a href="http://twitter.com/SAC_comunica">Sociedad Amigos del Comunicador</a>      <br />
                          <a href="http://twitter.com/en3tiempos">Elena Soto</a>  <br />
                          <a href="http://twitter.com/margarita270946">Magaly Margarita Ramírez</a>, Ser Comunicación e Investigación <br />
                        <a href="http://twitter.com/LuisCarlos">Luis Carlos Díaz</a>, <a href="http://www.gumilla.org/">Fundación Centro Gumilla</a><br />
                        <a href="http://twitter.com/carolabriceno">Carolina Briceño Peña</a>, <a href="http://www.elmundo.com.ve/">El Mundo Economía y Negocios</a><br />
                        Gènesis Gonzàlez Pereira, <a href="http://www.ultimasnoticias.com.ve/">Cadena Capriles </a> <br />
                          <br />
                      Faltas tú. <a href="http://manual.periodismodedatos.org/colaborar.html">Súmate ahora</a> a este proyecto.</p>
                        <div class="row"><section class="span8">

                            </section>
                      </div>

                        <div class="row">
                            <div class="span4">
                                <section>
                                    <div class="box-heading"></div>
                                </section>
                            </div>
</div>
                        <!-- END row -->
                    </div>
                    <!-- END span8 --><!-- END span4 -->
{% endblock %}