{% extends '_base.html' %}

{% block header_content %}	
	
	
	<div class="heading">
            <div class="container">
                <div class="row">
                    <div class="span12">
                      <h1>Participantes</h1>

                        <p class="abstract">Estamos escribiendo en conjunto el Manual de Periodismo de Datos Iberoamericano. Conoce a quienes ya se sumaron al proyecto. Recuerda que tú también puedes colaborar en escritura, diseño, programación, promoción y difusión.</p>
                        
						
                    </div>

                </div>
                <!-- END row -->
            </div>
        </div>
        <!-- END heading -->

{% endblock %}


{% block content %}


					<div class="span8">

                        <h3><strong id="internal-source-marker_0.333065410843119">Argentina</strong></h3>
                        <p><a href="http://twitter.com/spcrucianelli">Sandra Crucianelli</a>, <a href="http://www.icfj.org/about/profiles/sandra-crucianelli">ICFJ Knight International Journalism Fellow</a> <br />
                          <a href="http://twitter.com/blejman">Mariano Blejman</a>, <a href="http://www.icfj.org/our-work/argentina-launch-innovation-challenge-promote-development-digital-media-latin-america">ICFJ Knight International Journalism Fellow</a>, co fundador <a href="http://hhba.info/">HacksHackers Buenos Aires</a> <br />
                          <a href="http://twitter.com/pollatos">Sergio Sorin</a>, co organizador <a href="http://hhba.info/">HacksHackers Buenos Aires</a>  <br />
                          <a href="http://twitter.com/gavilandia">Sebastian Gurvitsch</a>, <a href="http://www.eter.com.ar/">Eter</a> <br />
                          <a href="http://twitter.com/matiasmanna">Matías Manna</a>         <br />
                          <a href="http://twitter.com/anahilo">Anahí Lovato</a>, <a href="http://www.unr.edu.ar/">Universidad Nacional de Rosario</a>    <br />
                          Aldo Iñiguez, <a href="http://www.unr.edu.ar/">Universidad Nacional de Rosario</a>    <br />
                          <a href="http://twitter.com/firigaray">Fernando Irigaray</a>, <a href="http://www.unrinteractiva.com.ar/">Universidad Nacional de Rosario</a>       <br />
                          <a href="http://twitter.com/raulivp">Raúl Verde Paz</a>       <br />
                        <a href="http://twitter.com/miguelledhesma">Miguel Ledesma</a></p>
                      <h3><strong id="internal-source-marker_0.">Brasil</strong></h3>
                      <p><a href="http://twitter.com/gufalei">Gustavo Faleiros</a>, <a href="http://www.icfj.org/about/profiles/gustavo-faleiros">ICFJ Knight International Journalism Fellow</a>, creador de <a href="http://www.infoamazonia.org/">InfoAmazonia.org</a> y <a href="http://saopaulo.meetup.hackshackers.com/">HacksHackers Sao Paulo</a> <br />
                        Sheila Accioly  <br />
                        <a href="http://twitter.com/jornsergiocunha">Sérgio Cunha</a>                            <br />
                      <a href="http://twitter.com/gtoueg">Gabriel Toueg</a></p>
                      <h3><strong>Chile</strong></h3>
                      <p><a href="http://twitter.com/jccamus">Juan C. Camus</a>, <a href="http://www.usando.info/">Usando.info</a> <br />
                        <a href="http://twitter.com/juanpablob">Juan Pablo Barrientos</a>, <a href="http://www.plumon.cl/">Plumón Digital</a> <br />
                        <a href="https://twitter.com/TRI_">Estefanía Trisotti</a> <br />
                        <a href="http://twitter.com/lesaez">Alejandra Saez</a> <br />
                        <a href="http://twitter.com/rampmaster">Roberto Moreno</a>                             <br />
                        <a href="http://twitter.com/Nicoleforttes">Nicole Forttes</a>, <a href="http://www.smartlab.udd.cl/">Smart Lab</a> Universidad del Desarrollo <br />
                        <a href="http://twitter.com/miguelpaz">Miguel Paz</a>, <a href="http://www.icfj.org/our-work/chile-expand-poderopedia-site-linking-business-and-politics-across-region">ICFJ Knight International Journalism Fellow</a>, <a href="http://www.poderomedia.org/">Fundación Poderomedia</a>, creador de <a href="http://www.meetup.com/HacksHackersChile/">HacksHackers Chile</a> <br />
                        Oscar Díaz, <a href="http://www.gobiernoabierto.cl/">Gobierno Abierto</a>        	         <br />
                        <a href="http://twitter.com/andreshofmann">Andrés Hofmann</a>, <a href="http://politicadigital.com.mx/">Política Digital</a>    <br />
                        <a href="http://twitter.com/alfonsopv">Alonso Ponce</a> <br />
                        <a href="http://twitter.com/movilytablet">Eduardo Riveros Quiroz</a>, <a href="http://www.journalismdigital.com/star/">JournalismDigital.com</a>    <br />
                        <a href="http://twitter.com/felipeacademy">Felipe Vargas</a> <br />
                        <a href="http://twitter.com/pepinixamonardi">Stephanie Cobo Maturana</a>  <br />
                        <a href="http://twitter.com/constnz">Constanza Gajardo</a>, <a href="http://www.periodismoudec.cl/">Escuela de Periodismo</a>, Universidad de Concepción<br />
                        <a href="https://twitter.com/devpoderopedia">Juan Eduardo Hernández</a>, <a href="http://www.poderopedia.org/">Poderopedia</a><br />
                      <a href="http://twitter.com/monikventura">Mónica Ventura</a>, <a href="http://www.poderopedia.org/">Poderopedia</a></p>
                      <h3><strong>Colombia</strong></h3>
                      <p><a href="http://twitter.com/Miriescribe">Miriam Forero Ariza</a>, <a href="http://www.consejoderedaccion.org/">Consejo de Redacción</a>        <br />
                          <a href="http://twitter.com/gybook">David Hernández</a>   <br />
                          <a href="http://twitter.com/pachocivico">Francisco Javier Pareja Vallejo</a>      <br />
                          <a href="http://twitter.com/beatrizemarin">Beatriz Elena Marín Ochoa</a>, <a href="http://www.upb.edu.co/">Universidad Pontificia Bolivariana</a>          <br />
                          <a href="http://twitter.com/alexmarin55">Alexander Marin Correa</a>, <a href="http://www.elespectador.com/">El Espectador</a>                <br />
                          Darío Restrepo Ramírez                      </p>
                      <h3><strong>Ecuador </strong></h3>
                      <p><a href="https://twitter.com/carlos_e_flores">Carlos E. Flores</a>, <a href="http://www.flacso-radio.ec/">Flacso Radio</a> <br />
                          <a href="https://twitter.com/kuzeli">Kruzkaya Ordóñez</a>, <a href="http://www.utpl.edu.ec/">Universidad Técnica Particular de Loja</a>  	   <br />
                          <a href="http://twitter.com/PaulMena">Paúl Mena Erazo </a>  <br />
                          <a href="http://twitter.com/darwindws">Darwin Borja Salguero</a>, <a href="http://www.vistazo.com/">Revista Vistazo</a>       	   <br />
                          <a href="https://twitter.com/jinakusikawsay">Janina Suárez Pinzón</a></p>
                      <h3><strong>El Salvador</strong></h3>
                      <p><a href="http://twitter.com/CarlosDada">Carlos Dada</a>, <a href="http://www.elfaro.net/">El Faro</a></p>
                      <h3><strong>España</strong></h3>
                      <p><a href="http://twitter.com/cabralens">Mar Cabra</a>, Periodista Freelance, miembro de <a href="http://www.icij.org/">ICIJ </a>            <br />
                          <a href="http://twitter.com/cmdelaserna">Carlos Martínez de la Serna</a> <br />
                          <a href="http://twitter.com/jesusflores">Jesús Flores</a>, <a href="http://www.madrimasd.org/blogs/culturadered/">Universidad Complutense</a> <br />
                          <a href="http://twitter.com/emartinborregon">Eduard Martín-Borregón</a>, <a href="http://www.datanpress.com/">Data'n'Press</a>          <br />
                          <a href="http://twitter.com/gloriajimenezz">Gloria Jiménez</a>         <br />
                          Manuel M. Fernández</p>
                      <h3><strong>Estados Unidos</strong></h3>
                      <p>                          Maricarmen Amado, <a href="http://www.westchesterhispano.net/">Westchester Hispano Newspaper </a> <br />
                          <a href="http://twitter.com/gpelizarraga">Guadalupe Lizárraga</a>, <a href="http://www.losangelespress.org/">Los Ángeles Press</a></p>
                      <h3><strong>Guatemala</strong></h3>
                      <p><a href="http://twitter.com/danyvillatoro">Daniel Villatoro</a>, <a href="http://www.plazapublica.com.gt/">Plaza Pública</a>         <br />
                          Enrique Naveda, <a href="http://www.plazapublica.com.gt/">Plaza Pública</a></p>
                      <h3><strong>México</strong></h3>
                      <p><a href="http://twitter.com/latinointx">Jorge Luis Sierra</a>, <a href="http://www.icfj.org/about/profiles/jorge-luis-sierra">ICFJ Knight International Journalism Fellow</a> <br />
                          Jesús Alberto Ibarra, <a href="http://www.uson.mx/">Universidad de Sonora</a></p>
                      <h3><strong>Panamá</strong></h3>
                      <p>                          Víctor Mojica, <a href="http://www.elguayacan.com.pa/">Red Media</a>   <br />
                          <a href="http://twitter.com/itzelcampos29">Itzel Campos</a>   </p>
                      <h3><strong>Paraguay</strong></h3>
                      <p><a href="http://twitter.com/AlvarengaPathy">Patricia Alvarenga</a>, <a href="http://www.vanguardia.com.py/">Diario Vanguardia</a></p>
                      <h3><strong>Perú</strong></h3>
                      <p><a href="http://twitter.com/cesars">Cesar Soplin Sánchez</a>, <a href="http://www.indexante.com/">Indexante</a><br />
                          <a href="http://twitter.com/aramis19">Aramís Castro Ramos</a>, <a href="http://www.corresponsales.pe/">Corresponsales.pe</a></p>
                      <h3><strong>Portugal</strong></h3>
                      <p><a href="http://twitter.com/marysaints">Mariana Santos</a>, <a href="http://www.icfj.org/our-work/latin-america-improve-interactive-storytelling-and-create-corps-tech-savvy-women-newsrooms">ICFJ Knight International Journalism Fellow</a>, diseñadora interactiva <a href="http://www.guardian.co.uk/profile/mariana-santos">The Guardian</a></p>
                      <h3><strong>Puerto Rico</strong></h3>
                      <p><a href="http://twitter.com/nataliabonilla">Natalia Bonilla</a>, <a href="http://www.revistalatitudes.org/">Revista Latitudes</a></p>
                      <h3><strong>Venezuela</strong></h3>
                      <p>                          Mileika Marcano, <a href="http://twitter.com/SAC_comunica">Sociedad Amigos del Comunicador</a>      <br />
                          <a href="http://twitter.com/en3tiempos">Elena Soto</a>  <br />
                          <a href="http://twitter.com/margarita270946">Magaly Margarita Ramírez</a>, Ser Comunicación e Investigación        <br />
                          <br />
                      Faltas tú. <a href="http://manual.periodismodedatos.org/colaborar.html">Súmate ahora</a> a este proyecto.</p>
                        <div class="row"><section class="span8">

                            </section>
                      </div>

                        <div class="row">
                            <div class="span4">
                                <section>
                                    <div class="box-heading"></div>
                                </section>
                            </div>
</div>
                        <!-- END row -->
                    </div>
                    <!-- END span8 --><!-- END span4 -->
{% endblock %}